/* opacity animation */

.opacity-animation {
  opacity: 0;
  transition: opacity 400ms linear 1000ms;
}

.opacity-animation[aria-expanded="true"] {
  opacity: 1;
}

/* display transition */
/* display transition container transition */
.display-animation {
  overflow: hidden;
  max-height: 500px;
  transition: max-height 700ms linear;
}

.display-animation[aria-expanded="true"] {
  max-height: 0px;
  transition: max-height 500ms cubic-bezier(0, 1, 0, 1);
}

/* display transition button style */

.display-animation-button-black::after {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  font-size: 3.2rem;
  font-weight: 500;
  border-radius: 50%;
  background: var(--primary);
  color: white;
}

.display-animation-button-white::after {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  font-size: 3.2rem;
  font-weight: 500;
  border-radius: 50%;
  background: white;
  color: var(--primary);
}

/* display transition button transition */
.display-animation-button::after {
  content: "-";
  transition: content 700ms linear;
}

.display-animation-button[aria-expanded="true"]::after {
  content: "+";
  transition: content 500ms cubic-bezier(0, 1, 0, 1);
}

/* FeatureSection component images animation */

.imgLeft {
  animation: imgLeft 1000ms linear 0ms;
}

@keyframes imgLeft {
  0% {
    transform: translate3d(10%, 0px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0%, 0px, 0px);
    opacity: 1;
  }
}

.imgRight {
  animation: imgRight 1000ms linear 0ms;
}

@keyframes imgRight {
  0% {
    transform: translate3d(-10%, 0px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0%, 0px, 0px);
    opacity: 1;
  }
}
