.about-us {
  background: url("../../assets/images/about_us/slider/slider-1-1914.jpg");
  background-position: center;
  background-size: contain;
}

.slogan {
  padding: 15% 10%;
  background: #3e2753;
}

/* .slogan div {
  width: auto;
  height: 100%;
} */

.slogan div p {
  font-size: 1.8rem;
  text-align: left;
  text-size-adjust: 100%;
  vertical-align: baseline;
  color: white;
}

.slogan div p span {
  font-weight: 700;
}

.story-slides {
  padding: 5% 10%;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 32px;
}

.time-line-description {
  height: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: scroll;
}

.year-img {
  width: 150px;
  height: 50px;
}

.time-line-description div p {
  color: white;
}

.time-line-image {
  width: 50%;
  height: 100%;
}

.time-line-image img {
  width: 120%;
  height: 100px;
}

.story-slides h2:nth-child(1) {
  display: none;
}

.story-slides h2:nth-child(3) {
  font-size: 2.6rem;
}

@media (min-width: 980px) {
  .story-slides {
    height: 720px;
  }
  .slogan div p {
    font-size: 3.6rem;
    line-height: 6.4rem;
  }
  .story-slides h2:nth-child(1) {
    display: inherit;
    font-size: 2.2rem;
  }
}
