.enviromental-savings {
  padding: 10% 10% 10% 10%;
  display: grid;
  row-gap: 14px;
  background: var(--primary);
}

.enviromental-savings__title {
  color: white;
}

.enviromental-savings__items {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(240px, 400px));
  justify-content: center;
  gap: 32px;
}

.enviromental-savings__item {
  min-width: 250px;
  min-height: 250px;
  padding: 40px;
  display: grid;
  place-items: center;
  background: linear-gradient(180deg, #01557b 0%, #0c2f3e 100%);
  color: white;
}

.enviromental-savings__item img {
  width: 100px;
  height: 100px;
}

.enviromental-savings__item span {
  font-size: 60px;
}

.enviromental-savings__item span {
  font-size: 60px;
}

.enviromental-savings__item h3 {
  font-size: 16px;
}
