.ecological-section {
  padding: 10% 10%;
  background-color: var(--primary);
}

.ecological-section-description {
  padding-bottom: 14px;
  display: grid;
  row-gap: 14px;
}

.ecological-section-description p {
  color: white;
}

.ecological-section-description img {
  max-width: 380px;
}

.ecological-section-features {
  border-top: 1px solid white;
}

.ecological-section-features__description {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 14px;
  padding: 14px 0;
}

@media (min-width: 980px) {
  .ecological-section-features__list {
    padding: 14px 0;
    border-bottom: none;
  }
}
