.ecological-section {
  width: 100%;
  height: auto;
  padding: 10% 10%;
  display: grid;
  row-gap: 14px;
  background-color: var(--primary-font);
}

.ecological-section-description {
  padding-bottom: 14px;
  display: grid;
  row-gap: 14px;
  border-bottom: 1px solid white;
}

.ecological-section-description img {
  max-width: 380px;
}

.ecological-section-features {
  padding-top: 14px;
  display: grid;
}

.ecological-section-features__list {
  padding: 14px 0;
  border-bottom: 1px solid white;
}

.ecological-section-features__list ul {
  display: grid;
  row-gap: 24px;
}

.ecological-section-features__list ul li {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

.ecological-section-features__description {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 14px;
  padding: 14px 0;
}

@media (min-width: 980px) {
  .ecological-section-features__list {
    padding: 14px 0;
    border-bottom: none;
  }
  .ecological-section-features {
    grid-template-columns: 1fr 4fr;
  }
}
