.materials {
  padding: 10% 10%;
  background-color: var(--primary);
}

.ecological-section-description {
  padding-bottom: 14px;
  display: grid;
  row-gap: 14px;
}

.ecological-section-description p {
  color: white;
}

.ecological-section-description img {
  max-width: 380px;
}

.materials__items {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 14px;
  padding: 14px 0;
}
