.some-questions {
  padding: 80px 10% 10% 10%;
}

.some-questions-container {
  border-top: 1px solid var(--primary);
}

.some-questions-title {
  margin: 32px 0;
}

.some-questions-section-item {
  display: grid;
  row-gap: 32px;
}
