.faqs-questions {
  display: grid;
  row-gap: 24px;
}

.faqs-question {
  border-bottom: 1px solid var(--primary-font);
}

.faqs-question button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  text-align: left;
  padding-bottom: 14px;
}

.faqs-question button h5 {
  font-size: 1.8rem;
  color: var(--primary-font);
}
