footer {
  width: 100%;
  height: auto;
  padding: 40px 10%;
  display: grid;
  justify-items: center;
  row-gap: 30px;
}

.footer-information {
  width: 100%;
  height: min-content;
  padding-bottom: 30px;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  row-gap: 14px;
}

.footer-information__logo {
  place-self: center;
  width: min-content;
  height: auto;
}

.footer-information__logo div {
  width: 80px;
  height: 50px;
  background: url("../../assets/icons/icono-bobina.svg");
  background-size: cover;
}

.footer-information__contac,
.footer-information__general-information,
.footer-information__social-media {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 14px;
}

footer .footer-certifications {
  width: 100%;
  min-height: 30px;
}

footer .footer-certifications img {
  width: 100%;
  height: auto;
}

.footer-information__contac p:nth-child(2) a,
.footer-information__contac p:nth-child(3) a {
  text-decoration: underline;
}

.footer-information__social-media-icons {
  width: 40px;
  height: 40px;
}

@media (min-width: 980px) {
  .footer-information {
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
  }
}
