.form {
  width: 100%;
  height: auto;
  padding: 40px 10%;
  display: grid;
  grid-auto-rows: min-content 1fr;
  row-gap: 30px;
}

.form-title {
  width: 100%;
  height: 50px;
  display: grid;
  align-items: center;
  border-bottom: 1px solid var(--primary);
}

.form-content {
  width: 100%;
  display: grid;
  row-gap: 14px;
  column-gap: 100px;
}

.form-container {
  display: grid;
  row-gap: 14px;
}

.form-container-inputs {
  width: 100%;
  display: grid;
  row-gap: 14px;
}

.form-container-terms-conditions span {
  font-size: 1.4rem;
  color: var(--secondary-font);
}

.form-container-terms-conditions span a {
  font-size: 1.4rem;
  color: var(--secondary-font);
  text-decoration: underline;
}

.form-container-inputs__button {
  width: 100%;
  height: 50px;
  border: none;
  background: var(--secondary);
  color: white;
  font-size: 1.6rem;
}

.form-container-inputs__button::after {
  content: "->";
  margin-left: 10px;
}

.form-container-inputs__input {
  height: 64px;
  width: 100%;
}

.form-container-inputs__textarea {
  padding: 14px 0;
  width: 100%;
}

input,
textarea {
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid var(--secondary-font);
}

::placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--form-inputs);
}

:focus {
  outline: none;
}

@media (min-width: 980px) {
  .form-content {
    grid-template-columns: 1fr 1fr;
  }
  .form-container-inputs-short {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
  .form-container-inputs__textarea {
    grid-column: 1/3;
  }
}
