/* formSection component */
.form-section {
  width: 100%;
  height: auto;
  padding: 40px 10%;
  display: grid;
  grid-auto-rows: min-content 1fr;
}

.form-section__title {
  width: 100%;
  height: 50px;
  display: grid;
  align-items: center;
}

.form-section__content {
  width: 100%;
  display: grid;
  row-gap: 14px;
  column-gap: 100px;
}

.form-section__container {
  display: grid;
  row-gap: 14px;
}

/* form description component */
.form-description {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 14px;
}

.form-inputs-container {
  width: 100%;
  display: grid;
  row-gap: 14px;
}

.form-section__terms-conditions span {
  font-size: 1.4rem;
  color: var(--secondary-font);
}

.form-section__terms-conditions span a {
  font-size: 1.4rem;
  color: var(--secondary-font);
  text-decoration: underline;
}

.form-inputs-container__button {
  width: 100%;
  height: 50px;
  border: none;
  background: var(--secondary);
  color: white;
  font-size: 1.6rem;
}

.form-inputs-container__input {
  height: 64px;
  width: 100%;
}

.form-inputs-container__textarea {
  padding: 14px 0;
  width: 100%;
}

input,
textarea {
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid var(--secondary-font);
}

::placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--form-inputs);
}

:focus {
  outline: none;
}

@media (min-width: 980px) {
  .form-section__content {
    grid-template-columns: 1fr 1fr;
  }
  .form-inputs-container-short {
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
  .form-inputs-container__textarea {
    grid-column: 1/3;
  }
}
