/* change section options */

.section-menu {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 24px;
  padding: 14px 0;
}

.section-menu li {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
}

.section-menu-font__li-white {
  color: white;
}

.section-menu-font__li-black {
  color: var(--primary);
}

.section-menu__li-underline {
  text-decoration: underline;
}

.section-menu__li-color {
  color: var(--secondary);
}

/* section main content */

.container-with-title {
  display: grid;
  row-gap: 14px;
}

.container-with-title a {
  text-decoration: underline;
}

.container-with-title__title {
  font-size: 1.6rem;
  font-weight: 700;
}

/* list type in section */

.multiple-ul-list__item {
  list-style: disc inside;
}

.multiple-ol-list__item {
  list-style: decimal inside;
}
