header {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  background: white;
  padding: 0 10%;
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

/* navbar mobile */
.ferreyarns-logo {
  width: auto;
  max-width: 130px;
  height: 100%;
  display: grid;
  place-items: center;
  background: none;
}

.ferreyarns-logo img {
  width: 100%;
  height: auto;
}

.navbar-mobile {
  width: 25px;
  height: 25px;
  display: grid;
  background: url("../../assets/icons/menu.svg");
  background-size: cover;
}

.navbar-mobile-links {
  width: 80%;
  height: auto;
  padding: 13px 5%;
  display: none;
  align-items: center;
  position: absolute;
  top: 75px;
  left: 10%;
  right: 10%;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  background: white;
}

.navbar-mobile-links > li {
  padding: 10px 5%;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.navbar-mobile-language {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  align-items: center;
  padding: 10px 5%;
  column-gap: 25px;
}

.navbar-language {
  color: var(--secondary-font);
}

.navbar-language__current {
  color: var(--primary);
}

.navbar-language li:nth-child(2) a {
  color: var(--secondary-font);
}

.navbar-mobile:hover > .navbar-mobile-links {
  display: grid;
}

/* navbar desktop */

.navbar-desktop {
  display: none;
  width: 80%;
  justify-content: space-between;
}

.navbar-desktop-links,
.navbar-desktop-contact {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  place-items: center;
  column-gap: 22px;
}

.navbar-desktop-contact li:nth-child(3) {
  width: 144px;
  height: 44px;
  display: grid;
  place-items: center;
  background: var(--secondary);
  color: white;
}

@media (min-width: 980px) {
  header {
    height: 78px;
  }
  .navbar-mobile {
    display: none;
  }
  .navbar-desktop {
    display: flex;
  }
}
