/* ecological container */

.materials-container {
  height: min-content;
  padding: 14px 0;
  display: grid;
  row-gap: 14px;
  border-bottom: 1px solid white;
}

.materials-container__button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  text-align: left;
}

.materials-container__button img {
  width: auto;
  height: 15px;
}

.materials-container__button span {
  font-size: 1.4rem;
  color: white;
  font-weight: 400;
}

.materials-container__applications {
  color: white;
}

.materials-container__features {
  display: grid;
  grid-auto-rows: 126px;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  row-gap: 14px;
}

.materials-container__especifications {
  width: 100px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 20px);
}

/* ecological material */

.material-type {
  width: 180px;
  height: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  column-gap: 20px;
}

.material-type img {
  max-width: 120px;
  height: 84px;
}

.material-type__percentage {
  width: 80px;
}

.material-type__percentage span {
  font-size: 3.6rem;
  color: white;
}

.material-type__percentage p {
  display: grid;
  color: white;
}

@media (min-width: 780px) {
  .materials-container__button span {
    font-size: 2.4rem;
  }
  .materials-container__button img {
    width: auto;
    height: 30px;
  }
}
