.posimpact-slide {
  display: grid;
  grid-auto-rows: min-content;
}

.posimpact-slide > img {
  width: 100%;
  max-height: 800px;
}

.posimpact-slide__content {
  padding: 10%;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 14px;
}

.posimpact-slide__title-img {
  width: auto;
  height: 30px;
}

.posimpact-slide__description {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 14px;
  color: white;
}

.posimpact-slide__description-brand-garment {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

.posimpact-slide__description-composition-materials {
  display: grid;
  grid-auto-rows: 126px;
  grid-template-columns: repeat(auto-fill, minmax(178px, 1fr));
  justify-items: center;
  row-gap: 14px;
}

.posimpact-slide__savings {
  display: grid;
  row-gap: 14px;
}

.posimpact-slide__savings h3 {
  font-size: 22px;
  color: white;
}

.posimpact-slide__savings-tabs {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  column-gap: 14px;
}

.posimpact-slide__savings-tabs-item {
  background: none;
  border: none;
  outline: none;
}

.posimpact-slide__savings-tabs-item img {
  width: 40px;
  height: 40px;
}

.posimpact-slide__savings-tabs-content {
  display: grid;
  color: white;
  font-weight: 700;
}

.posimpact-slide__savings-tabs-content span:nth-child(1) {
  font-size: 6rem;
}

.posimpact-slide__savings-tabs-content span:nth-child(2) {
  font-size: clamp(2.2rem, 5vw, 4.8rem);
}

.posimpact-slide__savings-data-source {
  color: white;
}
.posimpact-slide__savings-no-current-tab {
  filter: invert(0.5);
}

@media (min-width: 980px) {
  .posimpact-slide {
    grid-template-columns: 1fr 1fr;
  }
}
