/* change section options */

.current-section {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 24px;
  padding: 14px 0;
}

.current-section li {
  cursor: pointer;
  font-size: 1.8rem;
}

.current-section-underline {
  text-decoration: underline;
}

.current-section-font-color {
  color: white;
}

.current-section-color {
  color: #f26d32;
  font-weight: 700;
}

/* section main content */

.section-description {
  display: grid;
  row-gap: 14px;
}

.section-description h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

/* list type in section */

.section-description ul li,
.section-description ol li {
  font-size: 1.6rem;
}

.section-description ul li {
  list-style: disc inside;
}

.section-description ol li {
  list-style: decimal inside;
}

.section-description a {
  text-decoration: underline;
}
