.slide-item {
  height: 100%;
}

.story-slides__background {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
  z-index: 1;
}

.time-line-description {
  height: auto;
  display: grid;
  overflow-x: scroll;
  position: relative;
  z-index: 3;
  color: white;
}

.time-line-description::-webkit-scrollbar {
  display: none;
}

.year-img {
  width: 150px;
  height: 50px;
}

@media (min-width: 980px) {
  .slide-item {
    height: min-content;
  }
}
