:root {
  --primary-font: #06222e;
  --secondary-font: #9aa6aa;
  --form-inputs: #97a3a8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", "Arial", "sans-serif";
  color: var(--main-font);
}

html,
body {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
  height: auto;
  display: grid;
  padding-top: 80px;
}

h2 {
  font-size: 2.2rem;
  line-height: 4rem;
  font-weight: 400;
  font-family: "Open Sans", "Arial", "sans-serif";
  /* font-family: "akkurat-regular", "Georgia", "Times New Roman", "serif"; */
}

h4 {
  font-size: 1.4rem;
  color: #8f8f8f;
  font-weight: 400;
}

p,
a {
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: var(--primary-font);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  line-height: 2.8rem;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid rgba(6, 34, 46, 0.51);
}

::selection {
  background-color: #06222e;
  color: #ffffff;
}

::placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--form-inputs);
}

:focus {
  outline: none;
}

.sectionOptions {
  width: 100%;
  height: auto;
  display: grid;
  padding-top: 32px;
  row-gap: 14px;
}

@media (min-width: 980px) {
  h2 {
    font-size: 2.8rem;
  }
  p,
  a {
    font-size: 1.6rem;
  }
  .sectionOptions {
    grid-template-columns: 2fr 4fr;
  }
}
